.title {
    position: absolute;
    width: 100px;
}

.tools {
    position: absolute;
    right: 0;
    z-index: 1;
    margin-top: 5px;

    button {
        margin: 0 5px;
    }
}

:host /deep/ .ant-tabs-bar {
    margin-left: 100px;
}