<div class="logo"></div>
<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" (nzClick)="toggleDrawer($event)">
    <li nz-menu-item>
        <i nz-icon nzType="user"></i>
        <span>My Dashboard</span>
    </li>
    <li nz-menu-item>
        <i nz-icon nzType="database"></i>
        <span>Data Browser</span>
    </li>
    <li nz-menu-item>
        <i nz-icon nzType="clock-circle"></i>
        <span>Prediction Model</span>
    </li>
    <li nz-menu-item>
        <i nz-icon nzType="minus-circle"></i>
        <span>Demand Matrix</span>
    </li>
    <li nz-menu-item>
        <i nz-icon nzType="plus-circle"></i>
        <span>Supply Matrix</span>
    </li>
    <li nz-menu-item>
        <i nz-icon nzType="radar-chart"></i>
        <span>Risk Analysis</span>
    </li>
    <li nz-menu-item>
        <i nz-icon nzType="car"></i>
        <span>Supply Chain Mgt</span>
    </li>
    <li nz-menu-item>
        <i nz-icon nzType="control"></i>
        <span>Farming Opt</span>
    </li>
    <li nz-menu-item>
        <i nz-icon nzType="bank"></i>
        <span>Legal Compliance</span>
    </li>
    <li nz-menu-item>
        <i nz-icon nzType="shopping-cart"></i>
        <span>Precision Marketing</span>
    </li>
</ul>
<app-sidebar-drawer></app-sidebar-drawer>